@charset "UTF-8";

html {
	height: 100%;
}

body {
	height: 100%;
}

main {
	width: 840px;
	margin-bottom: 100px;
}


#main-order-container {
	box-sizing: border-box;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

#order_info_title {
	font-size: 27px;
	margin-top: 0;
	margin-bottom: 20px;
}

/**/
main {
	width: 840px;
}

#main_order_container {
	border-bottom: 1px solid black;
}

#order_info_text {
	box-sizing: border-box;
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	text-align: center;
	height: 70px;
}

#order_info_box_title {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	font-size: 13pt;
	font-weight: bold;
	height: 30px;
}

#product_info_title{
	text-align: center;
	width: 840px;
	font-weight: bold;
}

#product_info_title p {
	margin: 0;
}

#product_info_box {
	box-sizing: border-box;
	border-top: 1px solid #C3C3C3;
	border-bottom: 1px solid #C3C3C3;
	margin-bottom: 50px;
	width: 840px;
	height: 180px;
}

#prdocut_info_box_grid{
	display: grid;
	grid-template-columns: 100px 140px 600px;
	width: 840px;
	height: 180px;
	place-items: center;
}
	
#product_img {
	width: 100px;
	height: 100px;
}

#product_info_left {
	border-right: 1px solid #C3C3C3;
	padding-right: 10px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 140px;
	height: 180px;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
}

#product_info_left p {
	padding-top: 3px;
}

#product_info_right {
	padding-left: 10px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	width: 600px;
	height: 180px;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
}

#product_info_right p {
	padding-top: 3px;
}

#order_info_box {
	box-sizing: border-box;
	border-top: 1px solid #C3C3C3;
	border-bottom: 1px solid #C3C3C3;
	margin-bottom: 20px;
	text-align: center;
	height: 260px;
}

#order_info_box_grid {
	display: grid;
	grid-template-columns: 100px 140px 160px 100px 140px 200px;
	width: 840px;
	height: 260px;
	place-items: center;
}

#truck {
	width: 100px;
	height: 100px;
}

#info_box_left1 {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 140px;
	height: 260px;
	border-right: 1px solid #C3C3C3;
}

#info_box_left1_div {
	text-align: right;
	padding-right: 10px;
	font-size: 13px;
	font-weight: bold;
}

#info_box_right1 {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 160px;
	height: 260px;
}

#info_box_right1_div {
	text-align: left;
	padding-left: 10px;
	font-size: 13px;
	font-weight: bold;
}

#info_box_left2 {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 140px;
	height: 260px;
	border-right: 1px solid #C3C3C3;
}

#info_box_left2_div {
	text-align: right;
	padding-right: 10px;
	font-size: 13px;
	font-weight: bold;
}

#info_box_right2 {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 200px;
	height: 260px;
}

#info_box_right2_div {
	text-align: left;
	padding-left: 10px;
	font-size: 13px;
	font-weight: bold;
}

#buttons {
	display: grid;
	grid-template-columns: 540px 150px 150px;
}

#button_1 {
	width: 100px;
	height: 30px;
	font-size: 9pt;
	margin-left: 420px;
}

#button_2 {
	width: 130px;
	height: 30px;
	font-size: 9pt;
}

#button_3 {
	width: 150px;
	height: 30px;
	font-size: 9pt;
}

#question {
	margin-top: 50px;
	height: 50px;
	font-size: 20pt;
	font-weight: bold;
	border-bottom: 1px solid black;
}

#accordion {
	margin-top: 10px;
}

#refund_change_result{
	width: 840px;
	height: 300px;
	margin-top: 20px;
}

#refund_change_result_title {
	width: 840px;
	height: 40px;
}

#result_reason_textarea {
	width: 840px;
	height: 260px;
	resize: none;
	border-radius: 5px;
	text-align: left;
}