
#order-info {
            width: 750px;
            margin: 20px auto 80px auto;
            padding: 20px;
            border: 1px solid black;
            border-radius: 40px;
            
        }

		#order-success, #buttons {
		    display: grid;
		    grid-template-columns: repeat(2, auto);
		    justify-content: center;
		    align-items: center;		    
		}
		
		#order-success > div,
		#buttons > button
		 {
			margin : 20px;
		}

		#order-fee{
			width: 708px;
			display: grid;
		    grid-template-columns: 120px 70px 120px 70px 120px 70px 138px;
		    justify-content: center;
		    align-items: center;
		    font-size: 11pt;
		}
		
		#order-fee-div-div {
			font-weight: bold;
		}
		
		#order-fee > div{
			text-align: center;
		}

        .name {
            font-size: 1.2em;
            margin-right: 2px;
            font-weight: bold;
        }


        hr {
            margin: 10px 0;
            border: 1px solid black;
        }

        button {
        	height: 30px;
            margin-top: 10px;
            background-color: white;
            border-color: black;
            cursor: pointer;
        }


		 .product-code,
		 .product-info,
		 .product-price,
		 .sales-volume,
		 .sum
		 {
		 	width : 400px;
	        display: flex;
	        align-items: center; 
	        justify-content: space-between; 
	    }
	    
	    .product-list,
	    #payment{
		    display: flex;
		    justify-content: space-between; 
		    margin : 30px;
	    }
	    
	    #img{
	    	width: 200px;
	    	height: 200px;
	    }

		.addr-info {
		    margin-left: 30px;
		}

		
	    .product-name {
	        font-size: 18px;
	        font-weight: bold;
	    }
	        
	    .column{
	    	width:150px;
	    	margin-right: 10px;
	    }
