@charset "UTF-8";

body {
	margin: 0;
	font-size: 18px;
	color: #191919;
}

#m {
	width: 1080px;
	margin: 0 auto 80px auto;
	display: grid;
	margin-top: 50px;
}

/* card */
#c {
	box-sizing: border-box;
	width: 1080px;
	height: 160px;
	background-color: #f8f8f8;
	border: 1px solid #f1f1f1;
	margin: 0 auto 40px auto;
	font-size: 16px;
	color: #191919;
}

#cc {
	height: 100px;
	margin: 30px 20px 30px 20px;
	display: grid;
	grid-template-columns: 70px 1fr 1fr 1fr;
}

#cc-rb {
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	display: grid;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	color: #686868;
	background-color: #ffffff;
	border: 1px solid #f1f1f1;
	border-radius: 50%;
	padding-bottom: 6px;
	margin: 15px 0 15px 0;
}

#cc-u {
	margin-left: 20px;
	display: grid;
	grid-template-rows: auto auto;
}

#cc-un {
	display: grid;
	align-items: center;
}

#cc-ur {
	display: grid;
	align-items: center;
	font-size: 28px;
}

#cc-c, #cc-d, #cc-p {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: auto auto;
	justify-content: right;
	align-items: center;
	border-right: 1px solid #d4d4d4;
	padding: 0 20px;
}

#cc-p {
	border-right: 0;
}

#cc-cn, #cc-dn, #cc-pn {
	justify-self: right;
}

#cc-cc, #cc-dc, #cc-pc {
	display: grid;
	grid-template-columns: auto;
	justify-content: right;
	font-size: 14px;
}

#cc a {
	font-size: 28px;
}

#mc {
	width: 1080px;
	display: grid;
	grid-template-columns: 240px auto;
}

/* main side */
#ms {
	width: 200px;
	margin-right: 40px;
}

#ms div {
	display: grid;
	grid-template-columns: auto;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 20px;
}

#ms p {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 20px;
}

#ms a {
	text-decoration: none;
	font-size: 14px;
	color: #191919;
	margin-bottom: 20px;
}