@charset "UTF-8";

body {
	margin: 0;
	font-size: 18px;
	color: #191919;
}

#m {
	width: 1080px;
	margin: 0 auto 80px auto;
	display: grid;
}

#mc {
	width: 1080px;
	display: grid;
	grid-template-columns: auto auto;
}