@charset "UTF-8";

a {
	text-decoration: none;
	color: black;
}

.top-menu {
	list-style: none;
	padding-left: 0;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	width: 100px;
	border-right: 1px solid #dee2e6;
}

.top-menu li {
	margin-bottom: 1rem;
}

.card {
	border: none;
	margin-bottom: 2rem;
}

.card img {
	border: 1px solid #dee2e6;
}

.pagination {
	justify-content: center;
	bottom: 3rem;
	left: 0;
	width: 100%;
}

@media ( max-width : 768px) {
	.top-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border: none;
		width: 100%;
		margin-bottom: 3rem;
	}
	.top-menu li {
		margin-bottom: 0;
		border: 1px solid #dee2e6;
	}
}

.pagination .page-item a {
	border-color: #000; /* 모든 페이지 아이템의 테두리 색 설정 */
	color: #000; /* 모든 페이지 아이템의 글자색을 검정색으로 설정 */
}

.pagination .page-item.active a {
	background-color: #858585; /* 활성 페이지의 배경색 설정 */
	border-color: #858585; /* 활성 페이지의 테두리 색 설정 */
	color: white;
	z-index: 0; 
}

.pagination .page-item.active a:hover {
	background-color: #858585; /* 활성 페이지의 호버 배경색 설정 */
	border-color: #858585; /* 활성 페이지의 호버 테두리 색 설정 */
	color: white;
	z-index: 0; 
}