*{
    		margin-top:2px;
    		margin-bottom: 2px;
    		
    	}
		
		hr {
            margin: 10px 0;
            border: 1px solid black;
        }
        
        #addr-add {
            width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid black;
            border-radius: 40px;
        }
        

        #addr-add h2 {
            text-align: center;
        }
        
        #search{
        	border: 1px solid black;
        }
 
        button {
            margin-top: 10px;
            background-color: white;
            border-color: black;
            height: 30px;
            cursor: pointer;
        }
        
        #search{
        	cursor: pointer;
        }
        
        #base{
        	height: auto;
        }
        
        input{
        	height: 30px;
        }
        button#edit,
        button#add,
        button#return,
        .full{
            width: 100%;
            margin-top: 10px
        }
        
        #postalCode {
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between; /* 변경된 부분 */
		    align-items: center;
		}
		
		#postal {
		    width: 330px; 
		    }
		    
		.marg{
			margin-bottom: 8px;
			margin-top: 8px;
		}
