@charset "UTF-8";

/* main div */
#md {
	display: grid;
	grid-template-rows: auto auto;
}
/* 카테고리!  */
#cate {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto;
	border-bottom: 1px solid #191919;
	margin-bottom: 40px;
}
/* 메인 카테고리 */
#mainC {
	box-sizing: border-box;
	display: grid;
	align-items: center;
	grid-template-columns: auto auto auto auto auto;
	margin-bottom: 20px;
}

#mainC div {
	display: grid;
	justify-content: center;
}

/* 서브 카테고리 */
#subC {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin-bottom: 20px;
}

#subC div {
	display: grid;
	justify-content: center;
}

#cate button {
	width: 100px;
}

/* 리스트 헤더 */
/* #mh */
#mh {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 20px;
}

#mh div {
	display: grid;
	justify-content: center;
}

/* 리스트 */
#ml {
	min-height: 400px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 20px;
}

.clb {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 20px;
}

.clb div {
	display: grid;
	justify-content: center;
	align-items: center;
}

.clb button {
	height: 30px;
}

/* 페이지 조정 */
#mp {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

#pBtn {
	display: grid;
	grid-template-columns: auto auto auto;
}

#pShow {
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-items: center;
	margin: 0 10px;
}

#pSize {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
}

#pSizeShow {
	margin-right: 20px;
}

#psbb {
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-items: center;
}

#psbb2 {
	margin: 0 20px;
}