@charset "UTF-8";

body {
	margin: 0;
	font-size: 18px;
	color: #191919;
}

#mc {
	width: 480px;
	margin: 0 auto 300px auto;
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
}

#mch {
	width: 480px;
	height: 60px;
	display: grid;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: bold;
}

#mcs {
	height: 60px;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	margin-bottom: 40px;
}

#mcs- {
	height: 60px;
	box-sizing: border-box;
	border-bottom: 2px solid #191919;
}

#mcs div {
	width: 240px;
	display: grid;
	justify-content: center;
	align-items: center;
}

#mcs a {
	text-decoration: none;
	color: #191919;
	font-size: 18px;
	margin: 0;
}

#mcp {
	margin-bottom: 40px;
}

#mcp p {
	font-size: 18px;
	margin: 0;
}

#mcp #mcp-uid {
	margin: 20px 0;
	font-size: 36px;
}

#mcl {
	box-sizing: border-box;
	width: 480px;
	height: 60px;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #191919;
	font-size: 18px;
	color: #f8f8f8;
	text-decoration: none;
}