@charset "UTF-8";

body {
	margin: 0;
	font-size: 18px;
	color: #191919;
}

#mc {
	width: 480px;
	margin: 0 auto 300px auto;
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
}

#mch {
	width: 480px;
	height: 60px;
	display: grid;
	align-items: center;
	justify-content: center;
	margin-bottom: 60px;
	font-size: 36px;
	font-weight: bold;
}

#mcf {
	display: grid;
	grid-template-columns: auto;
}

#mcf input {
	box-sizing: border-box;
	width: 480px;
	height: 60px;
	background-color: #f8f8f8;
	border: 0;
	border-bottom: 1px solid #d4d4d4;
	font-size: 18px;
	color: #888888;
}

#mcf  #iid {
	margin-bottom: 5px;
}

#mcf-cb {
	height: 25px;
	display: grid;
	grid-template-columns: 30px auto;
	justify-content: left;
	align-items: center;
	margin-bottom: 10px;
}

#mcf  #icb {
	width: 22px;
	height: 22px;
	appearance: none;
	border: 1px solid #191919;
	border-radius: 50%;
	margin: 0;
}

#mcf #icb:checked {
	background-color: #191919;
}

#mcf-cb p {
	margin: 0;
}

#mcf #ipwd {
	margin-bottom: 5px;
}

#em {
	height: 25px;
	color: #e31100;
	font-size: 14px;
	color: #e31100;
	font-size: 14px;
	margin-bottom: 10px;
}

#mcf #isb {
	background-color: #191919;
	color: #f8f8f8;
	margin-bottom: 20px;
}

#mcl {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

#mcl a {
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	color: #888888;
}